.item_description {
	width: 100%;
	height: 425px;
	position: relative;
	overflow: auto;
}

.item_text {
	float: right;
	width: 500px;
}

.image_gallery {
	float: right;
	margin-right: 70px;
	overflow: auto;
}

.item_images {
	overflow: auto;
	height: 425px;
}