%h1= @wishlist.name
%h5= @wishlist.description

%br

%ul
	- @wishlist.items.each do |item|
		%li= link_to item.name, wishlist_item_path(@wishlist, item)

%br
= link_to "Add new item to list", new_wishlist_item_path(wishlist_id: @wishlist.id)